MODE="node_environment"
PORT="port_number"

JWT_SECRET="secure_secret_key"
JWT_ACCESS_TOKEN_EXPIRES_IN="access_token_duration"
JWT_REFRESH_TOKEN_EXPIRES_IN="refresh_token_duration"

JWT_ACCESS_TOKEN_EXPIRES_HOURS="access_token_duration_in_hours"
JWT_REFRESH_TOKEN_EXPIRES_DAYS="refresh_token_duration_in_days"

CLOUDFLARE_TURNSTILE_SECRET_KEY="cloudflare_turnstile_secret_key"

RESEND_API_KEY="resend_api_key"

COOKIE_DOMAIN="domain"

CLIENT_URL="client_application_url"

CORS_DOMAINS="allowed_cors_origins_(comma_separated)"

THROTTLE_TTL="throttle_time_to_live_in_seconds"
THROTTLE_LIMIT="throttle_maximum_requests_per_ttl_period"

DATABASE_URL="database_connection_string"
